h1 {
    text-align: center;
    font-weight: 900;
}

#container-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.grid-container {
    display: flex;
    border: 0px solid;
    width: 30%;
}

.box {
    display: 1;
    padding: 3%;
    border: 1px solid grey;
    
}

.box:hover {
    background-color: red;
}